@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.container {
  width: 1010px;
  background: '#FFF';
}

.flex {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  background: #fff;
}

.card {
  width: 451px;
  height: 279px;
  display: flex;
  border-radius: 0;
  position: relative;
}

.image {
  height: 100%;
  width: 100%;
  border-radius: 0;
}

.spiner {
  transform: translate(0, 120px);
}

.card .ant-card-body {
  padding: 10px 20px;
}
