@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.container {
  width: 1010px;
  background: '#FFF';
}

.card .ant-card-body {
  padding: 10px 20px;
}
